:root {
    --color-success: green;
    --color-intermediate: gold;
    --color-error: red;
    --color-primary: blue;

    --color-bg-main: white;
    --color-bg-secondary: whitesmoke;

    --color-text-light: white;
}
